{% extends 'base.html.twig' %}


{% block title %}Hello RegisterController!
{% endblock %}

{% block content %}

	{% if notification %}

		<div class="alert alert-info">
			{{notification}}
		</div>
	{% endif %}

	<h1>
		Changer le mot de passe
	</h1>
	{{ form(form) }}{% endblock %}
